body {
    font-family: 'Brush Script MT', cursive;
    transition: color 1.0s ease;
    background-color: #121212;
    color: #ffffff;
}

.boxed-text {
    border: 2px solid currentColor;
    padding: 15px;
    margin-top: 20px;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}